In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('original_data.csv')
# Hanya mengambil data yang berhasil masuk ke universitas
df = df[df.admit == 1].reset_index(drop=True)
df

,userName,major,researchExp,industryExp,specialization,toeflScore,program,department,toeflEssay,internExp,...,termAndYear,confPubs,ugCollege,gmatA,cgpa,gmatQ,cgpaScale,gmatV,univName,admit
0,143saf,Systems and Control,0,18,Robotics,112.0,MS,Instrumentation & Control,26,5.0,...,Fall - 2015,0,Dharamsinh Desai University,NaN,8.50,NaN,10,NaN,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,NaN,MS,0,NaN,0.0,...,Fall - 2013,0,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,NaN,94.0,MS,Computer Engineering,21,0.0,...,Fall - 2015,0,IET DAVV,NaN,78.28,NaN,100,NaN,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,0.00,NaN,0,NaN,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,NaN,81.0,MS,computer,NaN,0.0,...,Fall - 2011,0,Pune University,NaN,57.00,NaN,100,NaN,Worcester Polytechnic Institute,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27950,zeusaka,Biomedical Engineering,0,0,Biomedical Imaging & Instrumentation,96.0,MS,Electronics And Telecomm.,NaN,0.0,...,Fall - 2014,0,Nagpur University,NaN,74.00,NaN,100,NaN,Arizona State University,1
27951,zizou007,Computer Science,0,0,NaN,113.0,MS,CSE,28,0.0,...,Spring - 2014,0,Osmania University,NaN,8.20,NaN,10,NaN,Arizona State University,1
27952,zmanish,Computer Science,0,0,software engineering Analysis of Algorithms,NaN,MS,Computer Science(IT),NaN,0.0,...,Fall - 2014,0,KIIT,NaN,8.40,NaN,10,NaN,Arizona State University,1
27953,Zondek123,Electrical Engineering,0,0,Power Systems,96.0,MS,Electrical Engineeting,NaN,0.0,...,Fall - 2013,0,Sardar Patel College of Engineering,NaN,72.00,NaN,100,NaN,Arizona State University,1
27954,zztop,Electrical Engineering,0,0,Analog & Mixed Signal,114.0,MS,ECE,NaN,0.0,...,Fall - 2011,0,NIT Calicut,NaN,9.16,NaN,10,NaN,Arizona State University,1

In [3]:
df.info() # Menampilkan informasi data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27955 entries, 0 to 27954
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userName         27955 non-null  object
 1   major            27683 non-null  object
 2   researchExp      27955 non-null  int64
 3   industryExp      27955 non-null  int64
 4   specialization   15639 non-null  object
 5   toeflScore       25266 non-null  float64
 6   program          27734 non-null  object
 7   department       27954 non-null  object
 8   toeflEssay       5857 non-null   object
 9   internExp        27950 non-null  float64
 10  greV             27007 non-null  float64
 11  greQ             27027 non-null  float64
 12  userProfileLink  27955 non-null  object
 13  journalPubs      27734 non-null  object
 14  greA             26092 non-null  float64
 15  topperCgpa       27954 non-null  float64
 16  termAndYear      27734 non-null  object
 17  confPubs         27734 non-null  object
 18  ugCollege        26439 non-null  object
 19  gmatA            84 non-null     float64
 20  cgpa             27955 non-null  float64
 21  gmatQ            85 non-null     float64
 22  cgpaScale        27955 non-null  int64
 23  gmatV            81 non-null     float64
 24  univName         27955 non-null  object
 25  admit            27955 non-null  int64
dtypes: float64(10), int64(4), object(12)
memory usage: 5.5+ MB

In [4]:
df.isnull().sum() # Menampilkan jumlah data Null setiap kolom.

userName               0
major                272
researchExp            0
industryExp            0
specialization     12316
toeflScore          2689
program              221
department             1
toeflEssay         22098
internExp              5
greV                 948
greQ                 928
userProfileLink        0
journalPubs          221
greA                1863
topperCgpa             1
termAndYear          221
confPubs             221
ugCollege           1516
gmatA              27871
cgpa                   0
gmatQ              27870
cgpaScale              0
gmatV              27874
univName               0
admit                  0
dtype: int64

Gunakan metode imputasi atau hapus kolom dengan data yang terlalu sedikit (banyak data Null atau kosong lebih dari 30%)

In [5]:
df = df.drop(columns=['specialization', 'toeflEssay', 'gmatA', 'gmatQ', 'gmatV'])
df

,userName,major,researchExp,industryExp,toeflScore,program,department,internExp,greV,greQ,...,journalPubs,greA,topperCgpa,termAndYear,confPubs,ugCollege,cgpa,cgpaScale,univName,admit
0,143saf,Systems and Control,0,18,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,...,0,4.5,8.9,Fall - 2015,0,Dharamsinh Desai University,8.50,10,Worcester Polytechnic Institute,1
1,7790ashish,Manufacturing Engineering,0,0,NaN,MS,0,0.0,NaN,NaN,...,0,NaN,0.0,Fall - 2013,0,NaN,0.00,0,Worcester Polytechnic Institute,1
2,AB25,(MIS / MSIM / MSIS / MSIT),0,66,94.0,MS,Computer Engineering,0.0,146.0,157.0,...,0,3.0,81.0,Fall - 2015,0,IET DAVV,78.28,100,Worcester Polytechnic Institute,1
3,abhijitg,NaN,0,0,NaN,NaN,0,0.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,0.00,0,Worcester Polytechnic Institute,1
4,abhijitgang,MIS,0,0,81.0,MS,computer,0.0,420.0,770.0,...,0,2.5,70.0,Fall - 2011,0,Pune University,57.00,100,Worcester Polytechnic Institute,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27950,zeusaka,Biomedical Engineering,0,0,96.0,MS,Electronics And Telecomm.,0.0,151.0,158.0,...,0,3.0,85.0,Fall - 2014,0,Nagpur University,74.00,100,Arizona State University,1
27951,zizou007,Computer Science,0,0,113.0,MS,CSE,0.0,159.0,163.0,...,0,3.5,0.0,Spring - 2014,0,Osmania University,8.20,10,Arizona State University,1
27952,zmanish,Computer Science,0,0,NaN,MS,Computer Science(IT),0.0,158.0,163.0,...,0,3.0,9.1,Fall - 2014,0,KIIT,8.40,10,Arizona State University,1
27953,Zondek123,Electrical Engineering,0,0,96.0,MS,Electrical Engineeting,0.0,150.0,160.0,...,0,4.0,78.0,Fall - 2013,0,Sardar Patel College of Engineering,72.00,100,Arizona State University,1
27954,zztop,Electrical Engineering,0,0,114.0,MS,ECE,0.0,620.0,790.0,...,0,4.0,0.0,Fall - 2011,0,NIT Calicut,9.16,10,Arizona State University,1

In [6]:
df.isnull().sum()

userName              0
major               272
researchExp           0
industryExp           0
toeflScore         2689
program             221
department            1
internExp             5
greV                948
greQ                928
userProfileLink       0
journalPubs         221
greA               1863
topperCgpa            1
termAndYear         221
confPubs            221
ugCollege          1516
cgpa                  0
cgpaScale             0
univName              0
admit                 0
dtype: int64

Menghapus baris yang terdapat data Null

In [7]:
df = df.dropna().reset_index(drop=True)
df

,userName,major,researchExp,industryExp,toeflScore,program,department,internExp,greV,greQ,...,journalPubs,greA,topperCgpa,termAndYear,confPubs,ugCollege,cgpa,cgpaScale,univName,admit
0,143saf,Systems and Control,0,18,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,...,0,4.5,8.90,Fall - 2015,0,Dharamsinh Desai University,8.500,10,Worcester Polytechnic Institute,1
1,AB25,(MIS / MSIM / MSIS / MSIT),0,66,94.0,MS,Computer Engineering,0.0,146.0,157.0,...,0,3.0,81.00,Fall - 2015,0,IET DAVV,78.280,100,Worcester Polytechnic Institute,1
2,abhijitgang,MIS,0,0,81.0,MS,computer,0.0,420.0,770.0,...,0,2.5,70.00,Fall - 2011,0,Pune University,57.000,100,Worcester Polytechnic Institute,1
3,abhishek001,MIS,0,0,273.0,MS,CE,0.0,410.0,1010.0,...,0,600.0,75.00,Fall - 2006,0,Thadomal Shahani Engineering College,52.000,100,Worcester Polytechnic Institute,1
4,agteakash,MIS,0,0,104.0,MS,Computer Engineering,0.0,150.0,161.0,...,0,4.5,77.81,Fall - 2015,0,University of Mumbai,62.200,100,Worcester Polytechnic Institute,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23453,zenith1990,Electronics and Communication,0,0,106.0,Both MS and PhD,Electronics & Communication Engineering,0.0,151.0,159.0,...,0,3.5,9.70,Fall - 2012,0,SRM,8.724,10,Arizona State University,1
23454,zeusaka,Biomedical Engineering,0,0,96.0,MS,Electronics And Telecomm.,0.0,151.0,158.0,...,0,3.0,85.00,Fall - 2014,0,Nagpur University,74.000,100,Arizona State University,1
23455,zizou007,Computer Science,0,0,113.0,MS,CSE,0.0,159.0,163.0,...,0,3.5,0.00,Spring - 2014,0,Osmania University,8.200,10,Arizona State University,1
23456,Zondek123,Electrical Engineering,0,0,96.0,MS,Electrical Engineeting,0.0,150.0,160.0,...,0,4.0,78.00,Fall - 2013,0,Sardar Patel College of Engineering,72.000,100,Arizona State University,1
23457,zztop,Electrical Engineering,0,0,114.0,MS,ECE,0.0,620.0,790.0,...,0,4.0,0.00,Fall - 2011,0,NIT Calicut,9.160,10,Arizona State University,1

In [8]:
df.isnull().sum()

userName           0
major              0
researchExp        0
industryExp        0
toeflScore         0
program            0
department         0
internExp          0
greV               0
greQ               0
userProfileLink    0
journalPubs        0
greA               0
topperCgpa         0
termAndYear        0
confPubs           0
ugCollege          0
cgpa               0
cgpaScale          0
univName           0
admit              0
dtype: int64

In [9]:
# Menghapus kolom admit karena tidak digunakan sebagai parameter untuk rekomendasi
df = df.drop(columns='admit')
df

,userName,major,researchExp,industryExp,toeflScore,program,department,internExp,greV,greQ,userProfileLink,journalPubs,greA,topperCgpa,termAndYear,confPubs,ugCollege,cgpa,cgpaScale,univName
0,143saf,Systems and Control,0,18,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,4.5,8.90,Fall - 2015,0,Dharamsinh Desai University,8.500,10,Worcester Polytechnic Institute
1,AB25,(MIS / MSIM / MSIS / MSIT),0,66,94.0,MS,Computer Engineering,0.0,146.0,157.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,3.0,81.00,Fall - 2015,0,IET DAVV,78.280,100,Worcester Polytechnic Institute
2,abhijitgang,MIS,0,0,81.0,MS,computer,0.0,420.0,770.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,2.5,70.00,Fall - 2011,0,Pune University,57.000,100,Worcester Polytechnic Institute
3,abhishek001,MIS,0,0,273.0,MS,CE,0.0,410.0,1010.0,http://www.edulix.com/unisearch/user.php?uid=145,0,600.0,75.00,Fall - 2006,0,Thadomal Shahani Engineering College,52.000,100,Worcester Polytechnic Institute
4,agteakash,MIS,0,0,104.0,MS,Computer Engineering,0.0,150.0,161.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,4.5,77.81,Fall - 2015,0,University of Mumbai,62.200,100,Worcester Polytechnic Institute
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23453,zenith1990,Electronics and Communication,0,0,106.0,Both MS and PhD,Electronics & Communication Engineering,0.0,151.0,159.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,3.5,9.70,Fall - 2012,0,SRM,8.724,10,Arizona State University
23454,zeusaka,Biomedical Engineering,0,0,96.0,MS,Electronics And Telecomm.,0.0,151.0,158.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,3.0,85.00,Fall - 2014,0,Nagpur University,74.000,100,Arizona State University
23455,zizou007,Computer Science,0,0,113.0,MS,CSE,0.0,159.0,163.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,3.5,0.00,Spring - 2014,0,Osmania University,8.200,10,Arizona State University
23456,Zondek123,Electrical Engineering,0,0,96.0,MS,Electrical Engineeting,0.0,150.0,160.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,4.0,78.00,Fall - 2013,0,Sardar Patel College of Engineering,72.000,100,Arizona State University
23457,zztop,Electrical Engineering,0,0,114.0,MS,ECE,0.0,620.0,790.0,http://www.edulix.com/unisearch/user.php?uid=7598,0,4.0,0.00,Fall - 2011,0,NIT Calicut,9.160,10,Arizona State University

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23458 entries, 0 to 23457
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userName         23458 non-null  object
 1   major            23458 non-null  object
 2   researchExp      23458 non-null  int64
 3   industryExp      23458 non-null  int64
 4   toeflScore       23458 non-null  float64
 5   program          23458 non-null  object
 6   department       23458 non-null  object
 7   internExp        23458 non-null  float64
 8   greV             23458 non-null  float64
 9   greQ             23458 non-null  float64
 10  userProfileLink  23458 non-null  object
 11  journalPubs      23458 non-null  object
 12  greA             23458 non-null  float64
 13  topperCgpa       23458 non-null  float64
 14  termAndYear      23458 non-null  object
 15  confPubs         23458 non-null  object
 16  ugCollege        23458 non-null  object
 17  cgpa             23458 non-null  float64
 18  cgpaScale        23458 non-null  int64
 19  univName         23458 non-null  object
dtypes: float64(7), int64(3), object(10)
memory usage: 3.6+ MB

## Label encoder

Mengubah kolom univName menjadi angka.

In [11]:
# Inisialisasi LabelEncoder
label_encoder = LabelEncoder()

df['univName'] = label_encoder.fit_transform(df['univName'])
df

,userName,major,researchExp,industryExp,toeflScore,program,department,internExp,greV,greQ,userProfileLink,journalPubs,greA,topperCgpa,termAndYear,confPubs,ugCollege,cgpa,cgpaScale,univName
0,143saf,Systems and Control,0,18,112.0,MS,Instrumentation & Control,5.0,160.0,167.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,4.5,8.90,Fall - 2015,0,Dharamsinh Desai University,8.500,10,53
1,AB25,(MIS / MSIM / MSIS / MSIT),0,66,94.0,MS,Computer Engineering,0.0,146.0,157.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,3.0,81.00,Fall - 2015,0,IET DAVV,78.280,100,53
2,abhijitgang,MIS,0,0,81.0,MS,computer,0.0,420.0,770.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,2.5,70.00,Fall - 2011,0,Pune University,57.000,100,53
3,abhishek001,MIS,0,0,273.0,MS,CE,0.0,410.0,1010.0,http://www.edulix.com/unisearch/user.php?uid=145,0,600.0,75.00,Fall - 2006,0,Thadomal Shahani Engineering College,52.000,100,53
4,agteakash,MIS,0,0,104.0,MS,Computer Engineering,0.0,150.0,161.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,4.5,77.81,Fall - 2015,0,University of Mumbai,62.200,100,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23453,zenith1990,Electronics and Communication,0,0,106.0,Both MS and PhD,Electronics & Communication Engineering,0.0,151.0,159.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,3.5,9.70,Fall - 2012,0,SRM,8.724,10,0
23454,zeusaka,Biomedical Engineering,0,0,96.0,MS,Electronics And Telecomm.,0.0,151.0,158.0,http://www.edulix.com/unisearch/user.php?uid=2...,0,3.0,85.00,Fall - 2014,0,Nagpur University,74.000,100,0
23455,zizou007,Computer Science,0,0,113.0,MS,CSE,0.0,159.0,163.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,3.5,0.00,Spring - 2014,0,Osmania University,8.200,10,0
23456,Zondek123,Electrical Engineering,0,0,96.0,MS,Electrical Engineeting,0.0,150.0,160.0,http://www.edulix.com/unisearch/user.php?uid=1...,0,4.0,78.00,Fall - 2013,0,Sardar Patel College of Engineering,72.000,100,0
23457,zztop,Electrical Engineering,0,0,114.0,MS,ECE,0.0,620.0,790.0,http://www.edulix.com/unisearch/user.php?uid=7598,0,4.0,0.00,Fall - 2011,0,NIT Calicut,9.160,10,0

In [12]:
# Menghapus kolom dengan tipe data object
df = df.select_dtypes(exclude=['object'])
df

,researchExp,industryExp,toeflScore,internExp,greV,greQ,greA,topperCgpa,cgpa,cgpaScale,univName
0,0,18,112.0,5.0,160.0,167.0,4.5,8.90,8.500,10,53
1,0,66,94.0,0.0,146.0,157.0,3.0,81.00,78.280,100,53
2,0,0,81.0,0.0,420.0,770.0,2.5,70.00,57.000,100,53
3,0,0,273.0,0.0,410.0,1010.0,600.0,75.00,52.000,100,53
4,0,0,104.0,0.0,150.0,161.0,4.5,77.81,62.200,100,53
...,...,...,...,...,...,...,...,...,...,...,...
23453,0,0,106.0,0.0,151.0,159.0,3.5,9.70,8.724,10,0
23454,0,0,96.0,0.0,151.0,158.0,3.0,85.00,74.000,100,0
23455,0,0,113.0,0.0,159.0,163.0,3.5,0.00,8.200,10,0
23456,0,0,96.0,0.0,150.0,160.0,4.0,78.00,72.000,100,0
23457,0,0,114.0,0.0,620.0,790.0,4.0,0.00,9.160,10,0

## Correlation

Menggunakan correlation pearson untuk mengukur hubungan linear antar variabel.

In [13]:
corr_matrix      = df.corr(method='pearson')
corr_with_target = corr_matrix['univName'].round(5)
corr_with_target

researchExp   -0.00426
industryExp    0.00153
toeflScore    -0.02493
internExp      0.00366
greV          -0.04566
greQ          -0.03015
greA          -0.01170
topperCgpa     0.01059
cgpa           0.02373
cgpaScale      0.02322
univName       1.00000
Name: univName, dtype: float64

In [14]:
# mengurutkan korelasi dari nilai yang terbesar (mengabaikan nilai negatif dengan abs())
sorted_corr = corr_with_target.abs().sort_values(ascending=False)
sorted_corr

univName       1.00000
greV           0.04566
greQ           0.03015
toeflScore     0.02493
cgpa           0.02373
cgpaScale      0.02322
greA           0.01170
topperCgpa     0.01059
researchExp    0.00426
internExp      0.00366
industryExp    0.00153
Name: univName, dtype: float64

In [15]:
# Memfilter nilai korelasi yang absolutnya di atas 0.02
filtered_corr = sorted_corr[sorted_corr > 0.02]
filtered_corr

univName      1.00000
greV          0.04566
greQ          0.03015
toeflScore    0.02493
cgpa          0.02373
cgpaScale     0.02322
Name: univName, dtype: float64

In [16]:
# Fitur yang akan digunakan
selected_features = filtered_corr.index
selected_features

Index(['univName', 'greV', 'greQ', 'toeflScore', 'cgpa', 'cgpaScale'], dtype='object')

In [17]:
# Mengembalikan univName kenilai awal.
df = df[selected_features]
df['univName'] = label_encoder.inverse_transform(df['univName'])
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\2498526035.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['univName'] = label_encoder.inverse_transform(df['univName'])

,univName,greV,greQ,toeflScore,cgpa,cgpaScale
0,Worcester Polytechnic Institute,160.0,167.0,112.0,8.500,10
1,Worcester Polytechnic Institute,146.0,157.0,94.0,78.280,100
2,Worcester Polytechnic Institute,420.0,770.0,81.0,57.000,100
3,Worcester Polytechnic Institute,410.0,1010.0,273.0,52.000,100
4,Worcester Polytechnic Institute,150.0,161.0,104.0,62.200,100
...,...,...,...,...,...,...
23453,Arizona State University,151.0,159.0,106.0,8.724,10
23454,Arizona State University,151.0,158.0,96.0,74.000,100
23455,Arizona State University,159.0,163.0,113.0,8.200,10
23456,Arizona State University,150.0,160.0,96.0,72.000,100
23457,Arizona State University,620.0,790.0,114.0,9.160,10

In [18]:
# Menghitung CGPA menjadi skala 4 agar rentangnya sama.
# Fungsi konversi CGPA ke skala 4.0
def convert_cgpa(cgpa, cgpa_scale):
    return (cgpa / cgpa_scale) * 4.0

# Terapkan konversi
df['cgpa_converted'] = convert_cgpa(df['cgpa'], df['cgpaScale'])

# Hasil setelah dibatasi ke 3 desimal
df['cgpa_converted'] = df['cgpa_converted'].round(3)
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\2298035727.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cgpa_converted'] = convert_cgpa(df['cgpa'], df['cgpaScale'])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\2298035727.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cgpa_converted'] = df['cgpa_converted'].round(3)

,univName,greV,greQ,toeflScore,cgpa,cgpaScale,cgpa_converted
0,Worcester Polytechnic Institute,160.0,167.0,112.0,8.500,10,3.400
1,Worcester Polytechnic Institute,146.0,157.0,94.0,78.280,100,3.131
2,Worcester Polytechnic Institute,420.0,770.0,81.0,57.000,100,2.280
3,Worcester Polytechnic Institute,410.0,1010.0,273.0,52.000,100,2.080
4,Worcester Polytechnic Institute,150.0,161.0,104.0,62.200,100,2.488
...,...,...,...,...,...,...,...
23453,Arizona State University,151.0,159.0,106.0,8.724,10,3.490
23454,Arizona State University,151.0,158.0,96.0,74.000,100,2.960
23455,Arizona State University,159.0,163.0,113.0,8.200,10,3.280
23456,Arizona State University,150.0,160.0,96.0,72.000,100,2.880
23457,Arizona State University,620.0,790.0,114.0,9.160,10,3.664

In [19]:
# Convert nilai greQ dan greV agar rentang nilainya sesuai. Maksimal nilainya 170.
# Bagian ini menggunakan kode program dari https://github.com/tramatejaswini/University_Recommendation_System/tree/master?tab=readme-ov-file

def convert_quant_score(quant_score):
    quant_list = []
    quant_score = quant_score.tolist()
    for old_quant in quant_score:
        if old_quant <= 170:
            quant_list.append(old_quant)
            continue
        else:
            old_quant = old_quant/4.7
            if old_quant <=130:
                quant_list.append(130)
            else:
                quant_list.append(old_quant)
    return quant_list

def convert_verbal_score(verbal_score):
    verbal_list = []
    verbal_score = verbal_score.tolist()
    for old_verbal in verbal_score:
        if old_verbal <= 170:
            verbal_list.append(old_verbal)
            continue
        else:
            old_verbal = old_verbal/4.7
            if old_verbal <=130:
                verbal_list.append(130)
            else:
                verbal_list.append(old_verbal)
    return verbal_list

df['greQ'] = convert_quant_score(df['greQ'])
df['greV'] = convert_verbal_score(df['greV'])

# Membatasi hingga 3 angka di belakang koma
df['greQ'] = df['greQ'].round(3)
df['greV'] = df['greV'].round(3)

df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\77874411.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['greQ'] = convert_quant_score(df['greQ'])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\77874411.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['greV'] = convert_verbal_score(df['greV'])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\77874411.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['greQ'] = df['greQ'].round(3)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\77874411.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['greV'] = df['greV'].round(3)

,univName,greV,greQ,toeflScore,cgpa,cgpaScale,cgpa_converted
0,Worcester Polytechnic Institute,160.000,167.000,112.0,8.500,10,3.400
1,Worcester Polytechnic Institute,146.000,157.000,94.0,78.280,100,3.131
2,Worcester Polytechnic Institute,130.000,163.830,81.0,57.000,100,2.280
3,Worcester Polytechnic Institute,130.000,214.894,273.0,52.000,100,2.080
4,Worcester Polytechnic Institute,150.000,161.000,104.0,62.200,100,2.488
...,...,...,...,...,...,...,...
23453,Arizona State University,151.000,159.000,106.0,8.724,10,3.490
23454,Arizona State University,151.000,158.000,96.0,74.000,100,2.960
23455,Arizona State University,159.000,163.000,113.0,8.200,10,3.280
23456,Arizona State University,150.000,160.000,96.0,72.000,100,2.880
23457,Arizona State University,131.915,168.085,114.0,9.160,10,3.664

In [20]:
# Batasi nilai ke rentang valid
df['toeflScore'] = df['toeflScore'].clip(lower=0, upper=120)
df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\3623223841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['toeflScore'] = df['toeflScore'].clip(lower=0, upper=120)

,univName,greV,greQ,toeflScore,cgpa,cgpaScale,cgpa_converted
0,Worcester Polytechnic Institute,160.000,167.000,112.0,8.500,10,3.400
1,Worcester Polytechnic Institute,146.000,157.000,94.0,78.280,100,3.131
2,Worcester Polytechnic Institute,130.000,163.830,81.0,57.000,100,2.280
3,Worcester Polytechnic Institute,130.000,214.894,120.0,52.000,100,2.080
4,Worcester Polytechnic Institute,150.000,161.000,104.0,62.200,100,2.488
...,...,...,...,...,...,...,...
23453,Arizona State University,151.000,159.000,106.0,8.724,10,3.490
23454,Arizona State University,151.000,158.000,96.0,74.000,100,2.960
23455,Arizona State University,159.000,163.000,113.0,8.200,10,3.280
23456,Arizona State University,150.000,160.000,96.0,72.000,100,2.880
23457,Arizona State University,131.915,168.085,114.0,9.160,10,3.664

In [21]:
df.describe()

,greV,greQ,toeflScore,cgpa,cgpaScale,cgpa_converted
count,23458.000000,23458.000000,23458.000000,23458.000000,23458.000000,22886.000000
mean,142.450828,162.065314,105.246952,40.734290,56.805098,3.111005
std,17.459014,25.429286,10.869918,32.680633,45.405484,1.393269
min,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000
25%,130.000000,160.000000,101.000000,8.350000,10.000000,2.804000
50%,146.809000,164.000000,107.000000,57.500000,100.000000,3.112000
75%,153.191000,168.085000,112.000000,73.000000,100.000000,3.396000
max,170.213000,1700.000000,120.000000,102.000000,100.000000,73.000000

In [22]:
# Menghapus kolom cgpa dan cgpaScale karena sudah ada nilai cgpa_converted.
df_selected = df.drop(columns=['cgpa', 'cgpaScale'])
df_selected

,univName,greV,greQ,toeflScore,cgpa_converted
0,Worcester Polytechnic Institute,160.000,167.000,112.0,3.400
1,Worcester Polytechnic Institute,146.000,157.000,94.0,3.131
2,Worcester Polytechnic Institute,130.000,163.830,81.0,2.280
3,Worcester Polytechnic Institute,130.000,214.894,120.0,2.080
4,Worcester Polytechnic Institute,150.000,161.000,104.0,2.488
...,...,...,...,...,...
23453,Arizona State University,151.000,159.000,106.0,3.490
23454,Arizona State University,151.000,158.000,96.0,2.960
23455,Arizona State University,159.000,163.000,113.0,3.280
23456,Arizona State University,150.000,160.000,96.0,2.880
23457,Arizona State University,131.915,168.085,114.0,3.664

In [23]:
# Menampilkan jumlah data Null
df_selected.isnull().sum()

univName            0
greV                0
greQ                0
toeflScore          0
cgpa_converted    572
dtype: int64

In [24]:
# Menghapus data Null
df_selected = df_selected.dropna()

In [25]:
# Menyimpan data untuk digunakan di folder UI.
df_selected.to_csv('UI_sistem_rekomendasi/static/Processed_data.csv', index=False)
df_selected

,univName,greV,greQ,toeflScore,cgpa_converted
0,Worcester Polytechnic Institute,160.000,167.000,112.0,3.400
1,Worcester Polytechnic Institute,146.000,157.000,94.0,3.131
2,Worcester Polytechnic Institute,130.000,163.830,81.0,2.280
3,Worcester Polytechnic Institute,130.000,214.894,120.0,2.080
4,Worcester Polytechnic Institute,150.000,161.000,104.0,2.488
...,...,...,...,...,...
23453,Arizona State University,151.000,159.000,106.0,3.490
23454,Arizona State University,151.000,158.000,96.0,2.960
23455,Arizona State University,159.000,163.000,113.0,3.280
23456,Arizona State University,150.000,160.000,96.0,2.880
23457,Arizona State University,131.915,168.085,114.0,3.664

In [26]:
# Fitur untuk KNN
features = df_selected.drop(columns='univName').values
features

array([[160.   , 167.   , 112.   ,   3.4  ],
       [146.   , 157.   ,  94.   ,   3.131],
       [130.   , 163.83 ,  81.   ,   2.28 ],
       ...,
       [159.   , 163.   , 113.   ,   3.28 ],
       [150.   , 160.   ,  96.   ,   2.88 ],
       [131.915, 168.085, 114.   ,   3.664]])

## KNN Model

Menggunakan Library

In [28]:
from sklearn.neighbors import NearestNeighbors

# KNN Model
knn = NearestNeighbors(n_neighbors=7, metric='euclidean')
knn.fit(features)

user_input = [[160.0, 167.0, 112.0, 3.400]]

# Rekomendasi
distances, indices = knn.kneighbors(user_input)
recommendations = df_selected.iloc[indices[0]]

# Menghitung "probabilitas" (normalisasi jarak)
probabilities = 1 - (distances[0] / np.max(distances[0]))
probabilities /= probabilities.sum()  # Normalisasi agar total probabilitas = 1

# Menampilkan hasil
recommendations["probability"] = probabilities
output = recommendations[["univName", "probability"]]

print("Top 5 Rekomendasi Universitas dengan Probabilitas:")
print(output.head())

Top 5 Rekomendasi Universitas dengan Probabilitas:
                                  univName  probability
0          Worcester Polytechnic Institute     0.521668
10928   University of California San Diego     0.258193
22457             Arizona State University     0.190298
6544   University of Minnesota Twin Cities     0.014920
18368      North Carolina State University     0.014920

C:\Users\ASUS\AppData\Local\Temp\ipykernel_1828\2198657900.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recommendations["probability"] = probabilities

Tanpa Library

In [29]:
# Fungsi menghitung jarak Euclidean
def euclidean_distance(point1, point2):
    return np.sqrt(np.sum((point1 - point2)**2, axis=1))

# Implementasi
def knn_without_library(features, user_input, n_neighbors):
    distances = euclidean_distance(features, user_input)
    indices = np.argsort(distances)[:n_neighbors]
    nearest_distances = distances[indices]
    
    # Menghitung probabilitas (normalisasi jarak)
    probabilities = 1 - (nearest_distances / np.max(nearest_distances))
    probabilities /= probabilities.sum()  # Normalisasi agar total probabilitas = 1

    recommendations = df_selected.iloc[indices].copy()
    recommendations["probability"] = probabilities
    recommendations["probability"] = recommendations["probability"].round(5)  # Mengatur angka di belakang koma
    recommendations = recommendations[recommendations["probability"] > 0]  # Filter probabilitas > 0
    return recommendations[["univName", "probability"]]

user_input = [[160.0, 167.0, 112.0, 3.400]]

# Mendapatkan rekomendasi
output = knn_without_library(features, user_input, n_neighbors=7)

# Menampilkan hasil
print("Top 5 Rekomendasi Universitas dengan Probabilitas:")
print(output)

Top 5 Rekomendasi Universitas dengan Probabilitas:
                                  univName  probability
0          Worcester Polytechnic Institute      0.52167
10928   University of California San Diego      0.25819
22457             Arizona State University      0.19030
18368      North Carolina State University      0.01492
6544   University of Minnesota Twin Cities      0.01492